@media only screen and (max-width: 600px) {



.menu_bottom {
    order: 2;
    display: flex;
    margin-left: 15%;
    gap: 10%;
    text-align: center;
    list-style: none;
    flex-direction: column;
    margin-bottom: 26px;
}
#our-projects{
  display: none !important;
}

section#partners {
    position: relative;
    top: 16vh;
}

.projects-title{
  display: none;
}
    #home {
        height: 130vh;
        margin-top: 70px;
    }
    .card-form.p-4.shadow.w-100 {
    height: 400px !important;
}
.container.position-relative {
    position: relative;
    top: 8vh;
}
a.btn.btn-primary.btn-lg.mt-3.hero-btn.aos-init.aos-animate {
    width: 40%;
}
    h1.display-4.fw-bold.hero-title.aos-init.aos-animate {
    margin-bottom: -40%;
}
.hero-subtitle
 {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 400 !important;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 100%;
    padding: 10%;
}
.hero-btn
 {
    color: var(--blue-text) !important;
    background: white !important;
    border: none;
    border-radius: 6px;
    padding: 2.2%;
    font-weight: 500;
    font-size: 1.34rem;
    width: 32%;
    margin-bottom: 1.5vh;
    transform: scale(1) translateZ(0);
    will-change: transform;
    transition: transform 0.3s !important;
    bottom: 24%;
    position: relative;
    left: 14%;
}
.card-form {
    position: relative;
    bottom: 10%;
}
.c_mail {
    font-size: 20px;
    margin-top: -13px;
    margin-bottom: 58px;
}
.soc-contact ul {
    display: flex
;
    gap: 39%;
    font-size: 29px;
    list-style: none;
    margin-top: 0vh;
    padding-left: 0;
}
html,body{
  overflow-x: hidden;
  max-width: 100vw;
}
.section-title {
    position: relative;
    text-align: center;
    padding-bottom: 5%;
    font-size: 46px;
    color: var(--blue-dark);
    font-weight: 400 !important;
    text-align: left;
    margin-bottom: 6vh;
}
/*pencils*/
    .pencil-yellow-why::before {
        content: "";
        position: absolute;
        left: 16vw;
        bottom: 4%;
        transform: translateX(-51%);
        width: 60%;
        height: 15px;
        background-color: #fdc500;
        border-radius: 10px 0 0 10px;
    }
    .pencil-yellow-products::before {
        content: "";
        position: absolute;
        left: 35vw;
        bottom: 4%;
        transform: translateX(-52%);
        width: 99%;
        height: 15px;
        background-color: #fdc500;
        border-radius: 10px 0 0 10px;
        overflow: hidden;
    }
.pencil-yellow-install::before {
    content: "";
    position: absolute;
   left: 41vw;
        bottom: 4%;
    transform: translateX(-64%);
    width: 77%;
    height: 15px;
    background-color: #fdc500;
    border-radius: 10px 0 0 10px;
    overflow: hidden;
}
.pencil-yellow-install
 {
  margin-bottom: 4rem;
}

.countdown div {
    background: white;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 85px;
    height: 85px;
}

.row.g-0 {
        max-height: 85vh;
        overflow: visible !important;
    }
.card-height{
  max-height: 56vh;
}
.product-fix {

  max-height: none !important;
  height: 150%;
    position: relative;
    margin-left: 6%;
    color: var(--beige-text);
}
ul {
    margin-top: 0;
    margin-bottom: 0rem 0px;
}
.install_content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 52vh;
}
h4.productcard-title {
    font-size: 2.8rem;
    font-weight: 300;
    margin-top: 10px;
}

#partners{
 height: 35vh;
}
.banner-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    text-align: left;
}


.flex_row_bottom {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    padding-top: 8%;
}


ul.bottom_ul {
    text-align: left;
}
.ul_title {
    color: var(--yellow-primary);
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 2%; 
    text-align: left;
}
.logo_bottom img {
    width: 45%;
    position: relative;
    right: -81px;
    top: -23px;
}
.banner-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 1.6rem 1.2rem;
    display: flex
;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 67vh;
    padding-top: 28vh;
    align-items: flex-start;
}
    section#contact {
        height: 100vh;
        display: flex
;
        justify-content: center;
        align-items: center;
        padding-top: 88vh;
        padding-bottom: 77vh;
    }
.big-check {
    padding: 9px;
    font-size: 19px;
    width: 48%;
}

h2.fw-bold.display-5.section-title.promotion_title {
    color: #fff;
    padding-bottom: 0;
}
.promotion-section {
    min-height: 116vh;
}
.countdown span {
    font-size: 1.8rem;
    font-weight: 700;
    display: block;
    color: var(--blue-dark);
}
.mob_seconds p {
    position: relative;
    right: 12px;
}
.mob_mins p {
    position: relative;
    right: 12px;
}

.card-form_contact {

    margin-top: 10vh;
}
a.btn.btn-warning.mt-2.px-4.check-btn{
    min-width: 40%;
}
.countdown {
    display: flex
;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    transform: scale(0.84);
    position: relative;
    left: -20px;
}
.banner-right img {
    position: relative;
    left: -2vw;
    max-width: 100%;
    top: 10vh;
}
button#toggleShutters {
    width: 40%;
}
.plashka-yellow, .plashka-blue{
    width: 90vw;
}
.p-blue-text {
    color: #fff !important
}
.why-plashka-title{
top: 0 !important;
}
footer{
    display: none;
}
.card-form.p-4.shadow.w-100
 {
    position: relative;
    bottom: 120px;
}
a.consult-arrow {
    font-size: 18px;
    font-size: 18px;
    position: absolute;
    bottom: 32%;
}
.main-nav {
    display: flex
;
    flex-direction: column;
    justify-content: center;
    width: 58vw;
    text-align: left !important;
}
button.navbar-toggler
 {
    border-color: #fff;
    outline: none;
}
li.nav-item a {
    font-size: 1.45rem !important;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

}
/*Mobile end*/
.table-responsive {
  width: 50%;
  margin: 0 auto; /* чтобы таблица была по центру */
}
#myTabContent .table-responsive {
  width: 50%;
  margin: 0 auto;
}

/*Small laptops*/
@media only screen and (min-width: 1024px) and (max-height: 720px) {
  .card-height{
  min-height: 420px;
}
.nav-width{
  width:59vw;
}
.hero-text-col {
    height: 565px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10vh;
    padding-bottom: 1rem;
}
.card-form {

    height: 66vh
 !important;
}
.banner-wrapper {

    padding-top: 15vh;
}
}



@media only screen and (max-width: 600px) {
    .section-title {
       
        margin-bottom: 0vh;
    }
    /*fixes prod*/
.plashka-yellow-proyectos
 {
    width: 80vw;
    
}
.plashka-yellow-proyectos {
    position: relative;
}
.mob-fix-prom {
    margin-top: 15vh;
}
.header-card
 {
    position: relative;
    bottom: 3%;
}
.countdown div {
    padding: 18px 14px !important;
}
.header
 {
    position: fixed;

}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
    flex-wrap: nowrap !important;
}
}